/* style.css
@import url(font.css);
*/

section, div {
    border: 2px solid #c46161;
    padding: 10px;
}

section p {
    font-weight: bold;
}

section > p {
    color: skyblue;
}

h1 ~ p {
    text-decoration: underline;
}

h1 + p {
    background-color: orange;
}



.fc-red {
    color: red;
}

[class^="_"]{
    background-color: aquamarine;
}